#conteneur
{
    display: flex;
    width: 1000px;
    height: 600px;
    flex-direction: column;
}
#box1
{
    display: flex;
    width: 1000px;
    height: 100px;
    justify-items: start;
}
#box2
{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-items: end;    
}

.element1
{
    width: 1000px;
    height: 100px;
    background-color: blue;
    
}


.element2
{
    width: 500px;
    height: 500px;
    background-color: red;
    flex-direction: row;
}
.element3
{
    width: 500px;
    height: 500px;
    background-color: green;
    flex-direction: row;
}