html {
    background-color: #49a0b4;
}

body {
    background-color: #49a0b4;
}

.nav-item {
    margin-right: 30px;
    background-color: orange;
}

#nav {
    margin: 10px;
    font-size: 30px;
    background-color: #49a0b4;
}

#head {
    margin-top: 50px;
}

#tab-title {
    background-color: white;
}
